{% extends 'layout.html' %}

{% block main %}
      <div class="container d-flex justify-content-center align-items-center mt-5">
            <div class="card p-5 text-white" id="loginBack">
                  <div class="row">
                        <div class="col-md-6">
                              <h2 class="mb-4">Nuevo Usuario</h2>
                              <form method="POST" action="/registro"> 
                                    <div class="mb-3">
                                          <label for="username" class="form-label">Usuario:</label> 
                                          <input type="text" id="username" name="username" placeholder="Nombre de usuario" class="form-control" required autocomplete> 
                                    </div>
                                    <div class="mb-3">
                                          <label for="fullname" class="form-label">Nombre Completo:</label> 
                                          <input type="text" id="fullname" name="fullname" placeholder="Nombre y Apellido" class="form-control" required autocomplete> 
                                    </div>
                                    <div class="mb-3">
                                          <label for="password" class="form-label">Contraseña:</label>
                                          <input type="password" id="password" name="password" placeholder="Contraseña" class="form-control" required autocomplete>
                                          <input type="password" name="confirm_password" placeholder="Confirmar Contraseña" class="form-control mt-3" autocomplete>
                                    </div>
                                    <div class="d-grid gap-2">
                                          <button type="submit" class="btn btn-primary mt-2">REGISTRARSE</button>
                                          <button type="button" class="btn btn-secondary" onclick="window.history.back();">CANCELAR </button>
                                    </div>
                              </form>
                        </div>
                        <div class="col-md-6">
                              <p>Debes registrarte para poder acceder a Bolívar Music.</p>
                              <img src="{{ url_for('static', filename='images/logoBlanco.jpg') }}" alt="BolivarMusic" class="BolivarMusic w-100">
                        </div>
                  </div>
            </div>
      </div>
{% endblock main %}
